<div class="p-4">
    <div class="container">

<h1>Credit Card Details</h1><br>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Credit Card Details</a><br><br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Card Holder Name</th>
            <th style="width: 20%">Card Number</th>
            <th style="width: 20%">Expiration Date</th>
            <th style="width: 20%">CVV</th>
            <th style="width: 10%">Amount</th>
            <th style="width: 10%"></th>
           </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.CreditcardHolderName}}  </td>
            <td> {{user.CreditcardNumber}}  </td>
            <td>{{user.month}} {{user.year}}</td>
            <td>{{user.CVV}}   </td>
            <td>{{user.Amount}}  </td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>

</div>
</div>